/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Hero Section */
.hero-section {
    background: url('../images/nepal.jpg') center center/cover no-repeat;
    height: 60vh;
    position: relative;
  }  
  
  .hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
  
  .hero-section .container {
    z-index: 1;
  }
  
  /* Card Styles */
  .card-title {
    font-weight: 600;
  }
  
  /* Footer */
  footer {
    font-size: 0.9rem;
  }
  